<footer class="footer">
    <div class="footer__container container">
        <div class="footer__top">
            @@include('./components/logo.html', {
                'classname': 'logo--footer'
            })
            <div class="footer__columns">
                <ul class="footer__column">
                    <li class="footer__item"><a href="/services.html">web development services</a></li>
                    <li class="footer__item"><a href="/review.html">reviews</a></li>
                    <li class="footer__item"><a href="/contact.html">contact</a></li>
                </ul>
                <ul class="footer__column">
                    <li class="footer__item"><a target="_blank" href="https://www.fiverr.com/ambedoweb">fiverr</a></li>
                    <li class="footer__item"><a href="https://www.linkedin.com/in/nicola-hogg/">linkedin</a></li>
                    <li class="footer__item"><a href="/freelancing-services.html">freelance</a></li>
                </ul>
            </div>
            @@include('./components/socials.html', {
                'classname': 'socials--basic'
            })
        </div>
        <div class="footer__bottom">
            <p class="footer__terms">© 2022 Ambedo Web · Site by <a href="/">AmbedoWeb</a></p>
        </div>
    </div>
</footer>