<section class="image-grid">
    <div class="image-grid__container container">
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_one',
            'image_link': '@@image_link_one'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_two',
            'image_link': '@@image_link_two'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_three',
            'image_link': '@@image_link_three'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_four',
            'image_link': '@@image_link_four'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_five',
            'image_link': '@@image_link_five'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_six',
            'image_link': '@@image_link_six'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_seven',
            'image_link': '@@image_link_seven'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_eight',
            'image_link': '@@image_link_eight'
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_nine',
            'image_link': '@@image_link_nine'
            })
    </div>
</section>