<section class="image-grid">
    <div class="image-grid__container container">
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_one',
            'image_link': '@@image_link_one',
            'image_name': '@@image_name_one',
            })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_two',
            'image_link': '@@image_link_two',
            'image_name': '@@image_name_two',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_three',
            'image_link': '@@image_link_three',
            'image_name': '@@image_name_three',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_four',
            'image_link': '@@image_link_four',
            'image_name': '@@image_name_four',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_five',
            'image_link': '@@image_link_five',
            'image_name': '@@image_name_five',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_six',
            'image_link': '@@image_link_six',
            'image_name': '@@image_name_six',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_seven',
            'image_link': '@@image_link_seven',
            'image_name': '@@image_name_seven',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_eight',
            'image_link': '@@image_link_eight',
            'image_name': '@@image_name_eight',
        })
        @@include('./components/image-link.html', {
            'classname': 'image--square @@classname_image',
            'image': '@@image_nine',
            'image_link': '@@image_link_nine',
            'image_name': '@@image_name_nine',
        })
    </div>
</section>