<div class="secondary-nav">
    <div class="secondary-nav__container container">
        <ul class="secondary-nav__menu-items">
            <li class="secondary-nav__menu-item">
                <a href="#single">Single Page Website</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#multi">Multipage Website</a>
           </li>
            <li class="secondary-nav__menu-item">
                <a href="#wordpress">Wordpress Theme</a>
           </li>
           <li class="secondary-nav__menu-item">
            <a href="#soon">Coming Soon</a>
            </li>
        </ul>
    </div>
</div>