<ul class="socials @@classname">
    <li class="socials__item socials__item--linkedin">
        <a target="_blank" href="https://www.linkedin.com/in/nicola-hogg/">
            <img src="linkedin.svg" alt="">
        </a>
    </li>
    <li class="socials__item socials__item--instagram">
        <a target="_blank" href="https://www.fiverr.com/ambedoweb">
            <img src="fiverr.svg" alt="">
        </a>
    </li>
    <li class="socials__item socials__item--instagram">
        <a target="_blank" href="https://www.instagram.com/ambedoweb">
            <img src="instagram.svg" alt="">
        </a>
    </li>
    <li class="socials__item socials__item--twitter">
        <a target="_blank" href="https://www.twitter.com/ambedoweb">
            <img src="twitter.svg" alt="">
        </a>
    </li>
</ul>